.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 15px;

  // @media screen and (min-width: 320px) {
  //   width: fit-content;
  // }

  // @media screen and (min-width: 768px) {
  //   width: fit-content;
  // }

  // @media screen and (min-width: 1024px) {
  //   width: fit-content;
  // }
}
