@import-normalize;

body {
  font-family: $primary-font-stack;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #10131c;
}

.app {
  display: flex;
  justify-content: space-between;
  width: 860px;
  height: 600px;
}
